[submodule "animerecs-backend"]
	path = animerecs-backend
	url = https://github.com/Dev-Aligator/animercs-backend
[submodule "animerecs-frontend"]
	path = animerecs-frontend
	url = https://github.com/Dev-Aligator/apriome
